{deps, [
    {lager, "3.0.1", {git, "git://github.com/basho/lager.git", "3.0.1"}}, %% master
    {corman, ".*", {git, "https://github.com/PowerMeMobile/corman.git", "1bfc7c4"}} %% master
]}.

{erl_opts, [{parse_transform, lager_transform}]}.

{eunit_opts, [{parse_transform, lager_transform}, verbose]}.
{cover_print_enabled, true}.
{cover_enabled, true}.

